*{
    box-sizing: border-box;
}

 body, html{
    min-height: 100vh;
} 

body{
    font-family: "Inter", sans-serif;
    background-color: beige;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    border-radius: 10px;
    overflow: hidden;
}

.main-container>*{
    width: 100%;
}

header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: inherit;
    align-items: center;
}

input[type="color"]{
    width: 11%;
    height: 43px;
    padding: 0;
    cursor: pointer;
    background-color: #E5E5E5;

}

input[type="color"]::-webkit-color-swatch{
    border: 0.5px solid #313131;
}

input[type="color"]::-webkit-color-swatch-wrapper{
    border: 0.5px solid #D1D5DB;
}

select{
    font-family: inherit;
    background-color: #1F293A;
    width: 56.7%;
    height: 42px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #D1D5DB;
    color: #D1D5DB;
    padding: 0.5625empx 0.8125em;
    box-shadow: 0 1px 2px 0 #0000000D;
    border-radius: 6px;
    cursor: pointer;
}

option[value="monochrome"]{
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
}


button{
    font-family: inherit;
    background-color: #3D4B60;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1;
    width: 23%;
    height: 42px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 #0000000D;
    color: #FFFFFF;
    cursor: pointer;
}

main{
    flex: 1;
}

.display-colors{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-bottom: 0;
}
 
img{
    width: 20%;
    height: 100%;
    min-height: 60vh;
    object-fit: cover;
    flex: 1;
} 

footer{
    width: 100%;
    height: 46px;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.5;
    background-color: #1F2937;
    color: #D5D4D8;
    display: flex;
    justify-content: space-around;
}