body{
    background-color: #FFFFFF;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 550px;
    height: auto;
    background-color: #1F2937;
    border-radius: 10px;
    overflow: hidden;
}

header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="color"]{
    width: 61px;
    height: 43px;
    padding: 0;
    cursor: pointer;
    background-color: #E5E5E5;

}

input[type="color"]::-webkit-color-swatch{
    border: 0.5px solid #313131;
}

input[type="color"]::-webkit-color-swatch-wrapper{
    border: 0.5px solid #D1D5DB;
}

select{
    background-color: #1F293A;
    width: 312px;
    height: 42px;
    border: 1px solid #D1D5DB;
    color: #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0 1px 2px 0 #0000000D;
    border-radius: 6px;
    cursor: pointer;
}
button{
    background-color: #3D4B60;
    width: 123px;
    height: 42px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 #0000000D;
    color: #FFFFFF;
    cursor: pointer;
}

.display-colors{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
 
img{
    width: 110px;
    height: 550px;
} 

footer{
    width: 100%;
    height: 46px;
    background-color: #1F2937;
    color: #D5D4D8;
    display: flex;
    justify-content: space-around;
}